# Содержимое этого файла необходимо скопировать в config.py и изменить под себя

DB_PORT = 27017
DB_NAME = 'db_name'
DB_COLLECTION_NAME = 'collection_name'

TOKEN = 'token'  # Токен телеграмбота (получается у @BotFather)
IP = ''
PORT = 8443

APP_SECRET_KEY = 'secret'