# Содержимое этого файла необходимо скопировать в config.py и изменить под себя

DB = 'mysql+pymysql://<username>:<password>@<host>/<dbname>?charset=utf8mb4'  # Строчка подключения к базе данных MySQL
TOKEN = 'token'  # Токен телеграмбота (получается у @BotFather)

